body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../images/random_grey_variations.png');
  
    color: white;


    animation: fadein 2s;
}

:root {
    --purpleDark: #10a5d3;
    --purpleLight: #2ac3f1;
}