@model triviaWebASPNET.ViewModels.ScoreBoard

@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "[TRIVE]";
}

@{
    List<string> jmeno = new List<string>();
    List<string> score = new List<string>();

    if (Model != null)
    {
        jmeno = Model.jmena;
        score = Model.score;
    }
}

<link rel="stylesheet" href="~/css/scoreBoard.css">

<div id="scoreWrap">
    <div id="divBackButton">
        <a href="/">
            <button id="backBut">←</button>
        </a>

        <h1 id="nadpisText">[NEJLEPSI HRACI]</h1>

    </div>

    @{
        string userName = Context.Session.GetString("username");

        for (int i = 0; i < jmeno.Count; i++)
        {
            if (jmeno[i] == userName)
            {
                <h2 style="color: yellow;">@Html.Raw($"{i+1}.) {jmeno[i]} - {score[i]}")</h2>
            }
            else
            {
                <h2>@Html.Raw($"{i+1}.) {jmeno[i]} - {score[i]}")</h2>
            }
        }
    }
</div>

